# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/
.idea/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor-specific files
.vscode/ # VS Code settings
.idea/   # IntelliJ IDEA settings
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage

# Miscellaneous
*.log
*.sqlite3
*.db
.env # For environment variables
config.env
